.login-container{
    padding:30px;
    text-align:center;
}

.logo{
    width:120px;
    margin-top:40px;
}

.titulo{
    font-size:28px;
}

.subtitulo{
    margin-top:20px;
}

.descripcion{
    font-size:14px;
    color:#666;
}

.login-input{
    margin-top:20px;
}

.login-btn{
    margin-top:20px;
}

.terminos{
    margin-top:40px;
    font-size:12px;
}